/* styles.css */
body {
    min-height: 150px;
    min-width: 300px;
    font-family: Arial, sans-serif;
}

#tabList {
    position: relative;
    top: 50px;
}

.tab-item {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.tab-title {
    margin-left: 5px;
}

.tab-icon {
    width: 16px;
    height: 16px;
}

.selected {
    background-color: #f0f0f0;
}